{
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["import", {"libraryName": "antd", "style": true }, "antd"]
    ],
    "presets": [
      [
        "babel-preset-gatsby",
        {
          "targets": {
            "browsers": [">0.25%", "not dead"]
          }
        }
      ]
    ]
  }