
.customImg {
    width: 220px;
    object-fit: contain !important
}
.listMenus {
    list-style: none;
    padding: 0;
    margin: auto;
}
.listMenus li {
    display: inline;
    font-size: 15px;
    padding-right: 0.8rem;
    cursor: pointer;
    font-weight: bold;
}
.d-flex {
    display: flex !important
}
.m-auto {
    margin: auto;
}
.mr-3 {
    margin-right: 0.8em;
}
.banner{
    height: 700px;
    background: url("../images/pexels-matheus-bertelli-2376997.jpg") center no-repeat;
    background-size: 100% !important;
}
.bannerContact{
    width: 100vw;
    height: 26vw;
    background: url("../images/imagecontact.png") center no-repeat;
    background-size: 100% !important;
}

.filterContact {
    position: absolute;
    width: 100vw;
    height: 26vw;
    background: rgba(35, 34, 34, 0.64);
}

.ContactTitle {
    position: absolute;
    text-align: center;
    top: 15.5vw;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 56px;
    /* identical to box height */

    color: #FFFFFF;
}

.ContactMap {
    margin: 5vw;
    height: 24vw;
    border: none;
}